# Compiled source #
###################
*.pyc
*.egg-info
.sass-cache/**

# Editor-specific project files #
#################################
.project
.pydevproject
src/**


# Logs, DBs, and settings #
###########################
*.sqlite
*.db
*.log
dev_settings.py
srv_settings.py


# Test files #
##############
.coverage

# OS specific files #
#####################
.DS_Store
Thumbs.db

# Third-party files #
#####################
**/whoosh_index


# Project-specific files #
##########################
uploads/**
